body {
    background-image: url("../image/flaming_book.jpg");
    background-repeat: no-repeat;
    background-size: 1550px 750px;
}
.nav { 
    background-color: rgb(35, 93, 169);
    height: 100px;
    opacity: 0.5;

}
.nav li {
    display: inline-block;
    line-height: 80px;
    font-size: 20px;
    color: rgb(56, 23, 23);
    margin-right: 30px;
}
.nav ul {
    text-align: center;
}
.nav li a {
    color: inherit;
    text-decoration: none;
}
.content {
    height: 100px;
}

label {
color: antiquewhite;
}
img {
display: block;
margin-left: auto;
margin-right: auto;
width: auto;
}
.h1 {
    text-align: left;
    padding: 10px;
    margin-top: 350px;
    color: antiquewhite;
    font-size: x-small;
}
.footer {
    height: 50px;
}

